*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a, li, ol, button, input{
  all: unset;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* Fonts */
@font-face {
  font-family: "Monument Regular";
  src: url(../assets/fonts/MonumentExtended-Regular.otf);
}
@font-face {
  font-family: "Monument Light";
  src: url(../assets/fonts/MonumentExtended-Ultralight.otf);
}

/* variables */
:root{
  --bg-dark: #120E16;
  --text-color: #F6F6F7;
  --gray-color: #B5B5B5;
  --purple-rgb: 97 63 229;
  --primary-rgb: var(--purple-rgb);
}

/* header */
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2.7rem;
  margin: .5rem 2rem 0 2rem;
  font-family: 'Monument Light';
  color: var(--text-color);
  border: 1px solid #b5b5b538;
  border-radius: .94rem .94rem 0 0;
  backdrop-filter: blur(.4375rem);
  -webkit-backdrop-filter: blur(.4375rem);
}
.header-logo{
  font-family: 'Monument Regular';
  font-size: 1.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: auto auto auto 3rem;
  cursor: pointer;
}
.container-links{
  display: flex;
  font-size: .65em;
  letter-spacing: .07em;
  column-gap: 3rem;
  margin-right: 3rem;
  cursor: pointer;
}

/* hero */
.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../assets/imgs/imageHero.png') no-repeat;
  background-size: 140% ;
  background-position: 80% 10%;
  animation: bg-image 25s normal linear;
  user-select: none;
}
.hero-overlay, .lines-overlay-card{
  height: 100%;
  width: 100%;
  background: linear-gradient(
    rgb(var(--primary-rgb) / 0.3),
    rgb(var(--primary-rgb) / 0.3) 3px,
    transparent 3px,
    transparent .56rem   
  ) repeat;
  background-size: 100% .5rem;
  animation: overlay-lines 30s infinite linear;
}
.hero-overlay::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgba(125, 0, 142, .111);
}
.container-text{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.hero-h1{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  order: 2;
  height: 100%;
  color: var(--text-color);
  font-family: 'Monument Regular';
  font-size: 6.2em;
  line-height: 6.9rem;
  text-transform: uppercase;
  padding-bottom: 2.8rem;
  /* mix-blend-mode: overlay; */
}
.hero-text-one, .hero-text-two, .hero-text-three{
  z-index: 1;
}
.hero-text-one{
  align-self: center;
  margin-right: 10rem;
}
.hero-text-two{
  align-self: flex-end;
  margin-right: 5rem;
}
.hero-text-three{
  align-self: flex-start;
  margin-left: 5rem;
}
.hero-description{
  max-width: 21rem;
  order: 1;
  color: var(--text-color);
  font-family: 'Monument Light';
  font-size: .64em;
  letter-spacing: .7px;
  line-height: 1rem;
  margin: 5rem 0 0 5rem;
  z-index: 1;
}
@keyframes overlay-lines {
  from{
    background-position: 0% 0%;
  }
  to{
    background-position: 0% 100%;
  }
}
@keyframes bg-image {
  0% {
    background-size: 300%;
    background-position: 73% 100%;
  }
  40% {
    background-size: 200%;
    background-position: 100% 100%;
  } 
  40.0001% { 
    background-size: 300%;
    background-position: 60% 85%;
  }  
  60% {
    background-size: 250%;
    background-position: 85% 0%;
  }   
  75% { 
    background-size: 290%;
    background-position: 70% 0%;
  }
}

.more-information{
  background-color: var(--bg-dark);
  color: var(--text-color);
  width: 100%;
  height: 65vh;
  display: flex;
  font-family: 'Monument Light';
}
.more-information-left{
  margin: 5rem 0 0 5rem;
  width: 50%;
  text-transform: uppercase;
}
.more-information-left > h2{
  font-size: 1.7em;
  max-width: 20rem;
  line-height: 2.2rem;
  letter-spacing: 1.2px;
}
.information-border{
  width: 1px;
  height: 100%;
  background: #656565;
}
.information-border-bottom{
  width: 100%;
  height: 1px;
  background: #656565;
}
.more-information-right{
  display: flex;
  align-self: end;
  justify-content: flex-end;
  width: 50%;
  font-size: .8em;
  line-height: 1.5rem;
  margin: 0 5rem 3rem 0rem;
  color: var(--gray-color);
  text-align: end;
}
.more-information-right > p {
  max-width: 400px;
}
/* styles in common*/
#explorar, #avances, #contacto{
  height: auto;
  width: 100%;
  background-color: var(--bg-dark);
  color: var(--text-color);
  font-family: 'Monument Light';
  padding: 3rem 0 0 3rem;
}
/* explore */
#explorar{
  padding: 0;
}
.explore-title{
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  padding: 10rem 0;
  font-family: 'Monument Regular';
  color: rgb(var(--purple-rgb));
}
.games{
  display: flex;
}
.game-card{
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
}
.games-border-top{
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 1px;
  background: var(--gray-color);
}
.games-border{
  position: relative;
  z-index: 4;
  width: 1px;
  height: 90vh;
  background: var(--gray-color);
}
.game-card-overlay{
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--bg-dark);
  -webkit-mask: url("../assets/imgs/sprite-mask.png");
  mask: url("../assets/imgs/sprite-mask.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  transition: 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: gameOverlay1 .7s steps(22) forwards;
}
.game-card:hover .game-card-overlay{
  animation: gameOverlay2 1s steps(22) forwards;
}
@keyframes gameOverlay1 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes gameOverlay2 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
.game-img{
  position: relative;
  height: 90vh;
  width: 100%;
  object-fit: cover;
  transform: scale(1.5);
  transition: 2.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.game-card:hover .game-img{
  transform: scale(1);
}
.game-img-filter{
  filter: hue-rotate(305deg);
}
.game-description{
  position: absolute;
  bottom: .625rem;
  left: 1rem;
  min-height: 11rem;
}
.description-title{
  position: relative;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  z-index: 3;
}
.description-p{
  position: relative;
  font-size: .75em;
  line-height: 1.1rem;
  max-width: 90%;
  color: var(--gray-color);
  z-index: 3;
}
.lines-overlay-card{
  position: absolute;
  z-index: 3;
}
.lines-overlay-card::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background: 
  linear-gradient(to bottom,
  rgba(0, 0, 0, 0),
  rgba(35, 0, 47, 0.169),
  rgba(32, 0, 36, 0.171),
  rgba(0, 0, 0, 0.819),
  rgba(0, 0, 0, 0.926));
}

/* Advances */
.advances-title{
  max-width: 40rem;
  font-size: 1.3em;
  margin-bottom: 2rem;
}
.articles{
  max-width: 40rem;
  margin-top: .5rem;
}
.articles-text{
  font-size: .7em;
  line-height: .9rem;
  letter-spacing: .01rem;
  margin-top: .8rem;
  padding-bottom: 3rem;
}

/* Contact */
.form{
  display: flex;
  flex-direction: column;
  padding: 2rem 0 3rem 0;
  letter-spacing: 1px;
}
.form-label{
  margin: 1rem 0;
  font-size: .9rem;
}
.form-input{
  height: 2rem;
  width: 23rem;
  color: rgb(var(--primary-rgb));
  font-size: .8em;
  padding-left: 1rem;
  margin: .5rem 0;
  border: 1px solid;
  border-radius: 0 0 1rem 1rem;
}
.form-input::placeholder{
  color: rgb(var(--primary-rgb));
}
.form-btn{
  height: 2rem;
  width: 24rem;
  text-align: center;
  color: var(--text-color);
  border: 1px solid;
  margin-top: 2rem;
  border-radius: 0 0 1rem 1rem;
  cursor: pointer;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.form-btn:hover{
  background-color: rgb(var(--primary-rgb));
}

/* Footer */
.footer{
  display: grid;
  justify-content: center;
  background-color: var(--gray-color);
  color: rgb(var(--purple-rgb));
  font-family: 'Monument light';
  letter-spacing: 1px;
  padding: 5rem 0 1rem 0;
}
.footer-logo{
  font-family: 'Monument Regular';
  font-size: 3.5em;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.footer-links{
  font-size: .7em;
  display: grid;
  grid-template-columns: repeat(3,auto);
  justify-content: space-around;
  cursor: pointer;
}

@media (max-width: 35rem){
  .footer{
    letter-spacing: 1px;
    padding: 3.5rem 0 1.5rem 0;
  }
  .footer-logo{
    font-size: 3em;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }
  .footer-links{
    font-size: .65em;
    justify-content: center;
    column-gap: 1rem;
  }
  .footer-links > li:nth-child(3){
    padding: 0 .3rem;
  }
}
@media (max-width: 24rem){
  .footer{
    letter-spacing: 1px;
    padding: 3.5rem 0 1.5rem 0;
  }
  .footer-logo{
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }
  .footer-links{
    font-size: .6em;
  }
}

/* card */
.section-flex-card{
  padding: 5rem 0;
  width: 100%;
  background: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-card{
  width: 25rem;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flex-card-img{
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: 0 12%;
  border-radius: 1rem 1rem 0 0;
}
.flex-card-bottom{
  display: flex;
  align-items: center;
  background-color: rgb(32, 32, 32);
  color: #fff;
  border-radius: 0 0 1rem 1rem;
}
.card-bottom-left{
  display: flex;
  align-items: center;
  width: 70%;
  padding: 0 1.2rem;
}
.card-bottom-left > h2 {
  font-size: 2.2em;
  font-weight: 400;
}
.description{
  padding-left: 1.5rem;
  text-transform: capitalize;
  color: #f1f1f1;
}
.description > h4{
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: .5px;
}
.description > p{
  font-size: .7em;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: .65rem;
}
.category{
  background-color: rgb(var(--primary-rgb));
  width: 30%;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 1rem;
}
.category h4{
  font-size: 1.2em;
  font-weight: 100;
  letter-spacing: -.5px;
}