*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a, li, ol, button, input{
  all: unset;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* Fonts */
@font-face {
  font-family: "Monument Regular";
  src: url(../assets/fonts/MonumentExtended-Regular.otf);
}
@font-face {
  font-family: "Monument Light";
  src: url(../assets/fonts/MonumentExtended-Ultralight.otf);
}
/* variables */
:root{
  --bg-dark: #120E16;
  --text-color: #F6F6F7;
  --gray-color: #B5B5B5;
  --purple-rgb: 97 63 229;
  --primary-rgb: var(--purple-rgb);
}
/* header */
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2.7rem;
  margin: .5rem 2rem 0 2rem;
  font-family: 'Monument Light';
  color: var(--text-color);
  border: 1px solid #b5b5b538;
  border-radius: .94rem .94rem 0 0;
  backdrop-filter: blur(.4375rem);
  -webkit-backdrop-filter: blur(.4375rem);
}
.header-logo{
  font-family: 'Monument Regular';
  font-size: 1.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: auto auto auto 3rem;
  cursor: pointer;
}
.container-links{
  display: flex;
  font-size: .65em;
  letter-spacing: .07em;
  column-gap: 3rem;
  margin-right: 3rem;
}
.header-links{
  cursor: pointer;
}

/* hero */
.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../assets/imgs/imageHero.png') no-repeat;
  background-size: 140% ;
  background-position: 80% 10%;
  user-select: none;
  animation: bg-image 25s normal linear;
}
.hero-overlay, .lines-overlay-card{
  height: 100%;
  width: 100%;
  background: linear-gradient(
    rgb(var(--primary-rgb) / 0.3),
    rgb(var(--primary-rgb) / 0.3) 3px,
    transparent 3px,
    transparent .56rem   
  ) repeat;
  background-size: 100% .5rem;
  animation: overlay-lines 30s infinite linear;
}
.hero-overlay::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgba(125, 0, 142, .111);
}
.container-text{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.hero-h1{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  order: 2;
  height: 100%;
  color: var(--text-color);
  font-family: 'Monument Regular';
  font-size: 5.5em;
  line-height: 5.8rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.hero-text-one, .hero-text-two, .hero-text-three{
  z-index: 1;
}
.hero-text-one{
  align-self: center;
  margin-right: 10rem;
}
.hero-text-two{
  align-self: flex-end;
  margin-right: 5rem;
}
.hero-text-three{
  align-self: flex-start;
  margin-left: 5rem;
}
.hero-description{
  max-width: 21rem;
  order: 1;
  color: var(--text-color);
  font-family: 'Monument Light';
  font-size: .64em;
  letter-spacing: .7px;
  line-height: 1rem;
  margin: 5rem 0 0 5rem;
  z-index: 1;
}
@keyframes overlay-lines {
  from{
    background-position: 0% 0%;
  }
  to{
    background-position: 0% 100%;
  }
}
@keyframes bg-image {
  0% {
    background-size: 300%;
    background-position: 73% 100%;
  }
  40% {
    background-size: 200%;
    background-position: 100% 100%;
  } 
  40.0001% { 
    background-size: 300%;
    background-position: 80% 85%;
  }  
  70% {
    background-size: 240%;
    background-position: 75% 0%;
  }
}

.more-information{
  background-color: var(--bg-dark);
  color: var(--text-color);
  width: 100%;
  height: 65vh;
  display: flex;
  font-family: 'Monument Light';
}
.more-information-left{
  margin: 5rem 0 0 5rem;
  width: 50%;
  text-transform: uppercase;
}
.more-information-left > h2{
  font-size: 1.7em;
  max-width: 20rem;
  line-height: 2.2rem;
  letter-spacing: 1.2px;
}
.information-border{
  width: 1px;
  height: 100%;
  background: #656565;
}
.information-border-bottom{
  width: 100%;
  height: 1px;
  background: #656565;
}
.more-information-right{
  display: flex;
  align-self: end;
  justify-content: flex-end;
  width: 50%;
  font-size: .8em;
  line-height: 1.5rem;
  margin: 0 5rem 3rem 0rem;
  color: var(--gray-color);
  text-align: end;
}
.more-information-right > p {
  max-width: 25rem;
}
/* styles in common*/
#explorar, #avances, #contacto{
  height: auto;
  width: 100%;
  background-color: var(--bg-dark);
  color: var(--text-color);
  font-family: 'Monument Light';
}
/* explore */
#explorar{
  padding: 0 0 15rem;
}
.explore-title{
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  padding: 10rem 0;
  font-family: 'Monument Regular';
  color: rgb(var(--purple-rgb));
}
.games{
  display: flex;
}
.game-card{
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
}
.games-border-top{
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 1px;
  background: var(--gray-color);
}
.games-border{
  position: relative;
  z-index: 4;
  width: 1px;
  height: 90vh;
  background: var(--gray-color);
}
.game-card-overlay{
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--bg-dark);
  -webkit-mask: url("../assets/imgs/sprite-mask.png");
  mask: url("../assets/imgs/sprite-mask.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  transition: 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: gameOverlay1 .7s steps(22) forwards;
}
.game-card:hover .game-card-overlay{
  animation: gameOverlay2 1s steps(22) forwards;
}
@keyframes gameOverlay1 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes gameOverlay2 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
.game-img{
  position: relative;
  height: 90vh;
  width: 100%;
  object-fit: cover;
  transform: scale(1.5);
  transition: 2.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.game-card:hover .game-img{
  transform: scale(1);
}
.game-img-filter{
  filter: hue-rotate(305deg);
}
.game-description{
  position: absolute;
  bottom: .625rem;
  left: 1rem;
  min-height: 11rem;
}
.description-title{
  position: relative;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  z-index: 3;
}
.description-p{
  position: relative;
  font-size: .75em;
  line-height: 1.1rem;
  max-width: 90%;
  color: var(--gray-color);
  z-index: 3;
}
.lines-overlay-card{
  position: absolute;
  z-index: 3;
}
.lines-overlay-card::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background: 
  linear-gradient(to bottom,
  rgba(0, 0, 0, 0),
  rgba(35, 0, 47, 0.169),
  rgba(32, 0, 36, 0.171),
  rgba(0, 0, 0, 0.819),
  rgba(0, 0, 0, 0.926));
}

/* Portal */
#avances{
  position: relative;
  height: 100vh;
}
.portal-img-container{
  position: absolute;
  top: -.625rem;
  z-index: 1;
  width: 100%;
  height: 110vh;
  object-fit: cover;
  overflow: hidden;
}
.img-portal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1.1s ease;
} 
.portal-video{
  height: 400vh;
  transition: filter 1.4s ease;
}
/* Contact */
.form{
  display: flex;
  flex-direction: column;
  padding: 2rem 0 3rem 0;
  letter-spacing: 1px;
}
.form-label{
  margin: 1rem 0;
  font-size: .9rem;
}
.form-input{
  height: 2rem;
  width: 23rem;
  color: rgb(var(--primary-rgb));
  font-size: .8em;
  padding-left: 1rem;
  margin: .5rem 0;
  border: 1px solid;
  border-radius: 0 0 1rem 1rem;
}
.form-input::placeholder{
  color: rgb(var(--primary-rgb));
}
.form-btn{
  height: 2rem;
  width: 24rem;
  text-align: center;
  color: var(--text-color);
  border: 1px solid;
  margin-top: 2rem;
  border-radius: 0 0 1rem 1rem;
  cursor: pointer;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.form-btn:hover{
  background-color: rgb(var(--primary-rgb));
}

/* Footer */
.footer{
  display: grid;
  justify-content: center;
  background-color: var(--gray-color);
  color: rgb(var(--purple-rgb));
  font-family: 'Monument light';
  letter-spacing: 1px;
  padding: 5rem 0 1rem 0;
}
.footer-logo{
  font-family: 'Monument Regular';
  font-size: 3.5em;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.footer-links{
  font-size: .7em;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around;
  cursor: pointer;
}
.footer-links > li:nth-child(3){
  padding: 0 .5rem;
}

@media (max-width: 35rem){
  .footer{
    letter-spacing: 1px;
    padding: 3.5rem 0 1.5rem 0;
  }
  .footer-logo{
    font-size: 3em;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }
  .footer-links{
    font-size: .65em;
    justify-content: center;
    column-gap: 1rem;
  }
  .footer-links > li:nth-child(3){
    padding: 0 .3rem;
  }
}
@media (max-width: 24rem){
  .footer{
    letter-spacing: 1px;
    padding: 3.5rem 0 1.5rem 0;
  }
  .footer-logo{
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }
  .footer-links{
    font-size: .6em;
  }
}

@media (max-width: 82rem) {
  .hero-h1{
    font-size: 5.5em;
    line-height: 5.7rem;
    padding-bottom: 2rem;
  }
  .hero-text-one{
    margin-right: 11rem;
  }
  .hero-text-two{
    margin-right: 2.5rem;
  }
  .hero-text-three{
    margin-left: 7rem;
  }
}
@media (max-width: 72rem) {
  .hero-h1{
    font-size: 4.8em;
    line-height: 5rem;
    padding-bottom: 2.8rem;
  }
  .hero-text-one{
    margin-right: 14rem;
  }
  .hero-text-two{
    margin-right: 3rem;
  }
  .hero-text-three{
    margin-left: 5rem;
  }
  .game-img{
    height: 80vh;
    transform: scale(1.2);
  }
  .game-card:hover .game-img{
    transform: scale(1);
  }
  .game-description{
    left: .5rem;
  }
  .description-title{
    font-size: 1.5em;
    letter-spacing: 1px;
  }
  .description-p{
    font-size: .65em;
    line-height: 1rem;
    max-width: 97%;
  }
}
@media (max-width: 63rem) {
  .nav{
    margin: .7rem 1rem 0 1em;
  }
  .hero{
    background-size: 170%;
    background-position: 65% 10%;
  }
  .hero-h1{
    font-size: 4.3em;
    line-height: 4.5rem;
  }
  .hero-text-one{
    margin-right: 15rem;
  }
  .hero-text-two{
    margin-right: 3.5rem;
  }
  .more-information{
    height: 70vh;
  }
  .more-information-left{
    margin: 5rem 0 0 4rem;
  }
  .more-information-left > h2{
    font-size: 1.6em;
    max-width: 18rem;
    line-height: 2.1rem;
    letter-spacing: 1.15px;
  }
  .more-information-right{
    font-size: .77em;
    line-height: 1.4rem;
    margin: 0 3rem 3rem 1rem;
  }
  .more-information-right > p {
    max-width: 23rem;
  }
  @keyframes bg-image {
    0% {
      background-size: 330%;
      background-position: 75% 100%;
    }
    40% {
      background-size: 240%;
      background-position: 87% 100%;
    } 
    40.0001% { 
      background-size: 330%;
      background-position: 60% 85%;
    }  
    60% {
      background-size: 280%;
      background-position: 85% 0%;
    }   
    75% { 
      background-size: 310%;
      background-position: 70% 0%;
    }
  }
}
@media (max-width: 50rem) {
  .nav{
    margin: 0;
    border-radius: 0 0 .94rem .94rem;
  }
  .animation-container{
    opacity: 0;
    position: absolute;
    z-index: 3;
    width: 101%;
    height: 100vh;
    top: -1px;
    left: -1px;
    background: var(--bg-dark);
    -webkit-mask: url("../assets/imgs/sprite-mask.png");
    mask: url("../assets/imgs/sprite-mask.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: gameOverlay2 .9s steps(22) forwards;
  }
  .animate-menu-open{
    opacity: 1;
    animation: gameOverlay1 .85s steps(22) forwards;
  }
  .animate-menu-close {
    opacity: 1;
  }
  .header-logo{
    margin: auto auto auto 2rem;
    width: 14rem;
    z-index: 10;
  }
  .header-hamburger, .header-close{
    display: block; 
    width: 2.2rem;
    cursor: pointer;
    position: absolute;
    fill: #fff;
    right: 2rem;
    top: .2rem;
    z-index: 1;
  }
  .header-close {
    display: none;
    z-index: 5;
  }
  .header-links{
    position: relative;
    z-index: 4;
  }
  .container-links{
    position: absolute;
    opacity: 0;
    top: -1px;
    left: -1px;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 1.65em;
    letter-spacing: .12em;
    row-gap: 3rem;
    margin-right: 0;
    overflow: hidden;
    text-transform: uppercase;
  }
  .container-links.isActive {
    opacity: 1;
    z-index: 4;
    transition: opacity .2s cubic-bezier(1, 0, 0, 1) .8s;
  }
  .hero{
    background-size: 220%;
    background-position: 63% 30%;
  }
  .hero-h1{
    font-size: 3.8em;
    line-height: 4.4rem;
    padding-bottom: 3.5rem;
  }
  .hero-text-one{
    align-self: flex-start;
    margin-left: 4.5rem;
  }
  .hero-text-two{
    margin-right: 1.5rem;
  }
  .hero-text-three{
    margin-left: 1.5rem;
  }
  .hero-description{
    max-width: 18rem;
    margin: 6rem 0 0 3rem;
  }
  .more-information{
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .more-information-left{
    margin: 5rem 0 0 0;
    display: flex;
    justify-content: center;
  }
  .more-information-left > h2{
    font-size: 1.7em;
    max-width: 20rem;
    line-height: 2.2rem;
    letter-spacing: 1.2px;
    text-align: center;
    z-index: 2;
  }
  .information-border{
    width: 2px;
    height: 65vh;
    background: #4545453f;
    position: absolute;
  }
  .more-information-right{
    display: flex;
    align-self: center;
    font-size: .8em;
    line-height: 1.5rem;
    margin: 0 0 3rem 0;
    color: var(--gray-color);
    text-align: start;
  }
  .more-information-right > p {
    display: flex;
    max-width: 30rem;
    z-index: 2;
  }
  #explorar{
    padding: 0 0 5rem;
    height: 150rem;
  }
  .mobile-sticky{
    position:sticky;
    left: 0;
    top: 10%;
    overflow: hidden;
  }
  .games{
    align-items: center;
    width: 100%;
    gap: 5rem;
    margin-left: 22rem;
  }
  .game-card{
    height: 75vh;
    width: 80%;
    max-height: 42rem;
    max-width: 25rem;
    flex-shrink: 0;
  }
  .games-border, .games-border-top{
    display: none;
  }
  .game-img{
    position: relative;
    height: 75vh;
    width: 100%;
    max-height: 42rem;
    max-width: 30rem;
    object-fit: cover;
    transform: scale(1.1);
  }
  .game-description{
    bottom: 2rem;
    min-height: auto;
  }
  .lines-overlay-card::before {
    height: 100%;
  }
  .game-card-overlay{
    display: none;
  }
  .portal-container{
    margin-top: -1px;
  }
  .form{
    width: 100%;
    padding: 2rem 2rem 3rem 0;
  }
  .form-input{
    width: 95%;
    padding-right: 0;
  }
  .form-btn{
    width: 97%;
    margin-top: 2rem;
  }
  @keyframes bg-image {
    0% {
      background-size: 390%;
      background-position: 60% 100%;
    }
    40% {
      background-size: 310%;
      background-position: 77% 100%;
    } 
    40.0001% { 
      background-size: 360%;
      background-position: 60% 85%;
    }  
    60% {
      background-size: 300%;
      background-position: 80% 0%;
    }   
    75% { 
      background-size: 330%;
      background-position: 70% 0%;
    }
  }
}
@media (max-width: 47rem) {
  .header-logo{
    margin: auto auto auto 1rem;
    font-size: 1.5em;
    z-index: 10;
  }
  .header-hamburger, .header-close{
    width: 2rem;
    right: 1rem;
    top: .2rem;
  }
  .hero{
    background-size: cover;
    /* animation: none; */
  }
  .hero-h1{
    font-size: 9vw;
    line-height: 9.2vw;
    padding-bottom: 3.5rem;
  }
  .hero-text-one{
    margin: 0 0 0 2rem;
  }
  .hero-text-two{
    margin-right: 1rem;
  }
  .hero-text-three{
    margin-left: 1rem;
  }
  .explore-title{
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    padding: 7rem 0;
  }
  .more-information{
    height: 85vh;
  }
  .information-border{
    height: 85vh;
  }
  #contacto{
    padding: 3rem 1rem;
  }
  .form{
    padding: 2rem 1rem 3rem 0;
  }
  .form-input{
    width: 100%;
    font-size: .8em;
  }
  .form-btn{
    width: 105%;
    margin-top: 2rem;
  }
}
@media (max-width: 28rem){
  .hero{
    background-position: 57% 0;
    animation: none;
  }
  .hero-description{
    font-size: .64em;
    letter-spacing: .7px;
    line-height: 1rem;
    margin: 5rem 0 0 1rem;
  }
  .hero-h1{
    font-size: 10vw;
    line-height: 11vw;
    padding-bottom: 4rem;
  }
  .hero-text-one{
    margin: 0 1rem 0 0;
    align-self: end;
  }
  .hero-text-two{
    margin: 0;
    align-self: center;
    font-size: 9.5vw;
  }
  .hero-text-three{
    margin: 0;
    font-size: 9.5vw;
    align-self: center;
  }
  .explore-title{
    font-size: 2.3em;
    padding: 9rem 0;
  }
  .more-information-left > h2{
    font-size: 1.3em;
    line-height: 1.7rem;
    letter-spacing: 1.2px;
  }
  .more-information-right{
    width: 90%;
    max-width: 17rem;
    font-size: .7em;
    line-height: 1.1rem;
    margin-bottom: 5rem;
  }
  #explorar{
    height: 210rem;
  }
  .mobile-sticky{
    top: 15%;
  }
  .games{
    gap: 3rem;
    margin-left: 11rem;
  }
  .game-card{
    height: 70vh;
    width: 90%;
  }
  .game-img{
    transform: scale(1);
  }
}
@media (min-height: 59rem) and (orientation: portrait){
  .hero{
    background-size: cover;
    background-position: 60% 10%;
  }
  .more-information{
    height: 65vh;
  }
  @keyframes bg-image {
    0% {
      background-size: 650%;
      background-position: 70% 100%;
    }
    40% {
      background-size: 430%;
      background-position: 87% 100%;
    } 
    40.0001% { 
      background-size: 380%;
      background-position: 40% 85%;
    }  
    60% {
      background-size: 480%;
      background-position: 60% 10%;
    }   
    100% { 
      background-size: cover;
      background-position: 60% 10%;
    }
  }
}
@media (min-width: 100rem) {
  .nav{
    height: 3.2rem; 
    margin: .5rem 4rem 0 4rem;
  }
  .hero-h1{
    font-size: 6vw;
    line-height: 6.3vw;
    padding-bottom: 3rem;
  }
  .hero-text-one{
    margin-right: 12rem;
  }
  .hero-text-two{
    margin-right: 7rem;
  }
  .hero-text-three{
    margin-left: 7rem;
  }
  .hero-description{
    margin: 6rem 0 0 7rem;
  }
}